<ion-header>

  <ion-navbar>
	  <button ion-button menuToggle *ngIf="splitShow.showMenuToggle()">
	    <ion-icon name="menu"></ion-icon>
	  </button>
    <ion-buttons left>
	    <button ion-button icon-only small (click)="splitShow.showChange()" *ngIf="!splitShow.show && !splitShow.showMenuToggle()">
	      <ion-icon name="ios-menu"></ion-icon>
	    </button>
	  </ion-buttons>
    <ion-searchbar [(ngModel)]="searchInput" (ngModelChange)="searchBar($event)"></ion-searchbar>
    <ion-buttons start>
			<div class="total"> $ {{ total | number : '1.0-0' }} </div>
    </ion-buttons>
    <ion-buttons end>
	    <button ion-button icon-only (click)="presentModal()">
	      <ion-icon name="add"></ion-icon>
	    </button>
    	<button ion-button icon-only (click)="presentFilters($event)">
	      <ion-icon name="options"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>

	<ion-toolbar>
		  <ion-grid #dataHeaders>
			  <ion-row text-center>
					<ion-col col-2>
						<strong>Obra</strong>
					</ion-col>
					<ion-col col-3>
						<strong>Cliente</strong>
					</ion-col>
					<ion-col col-2>
						<strong>Vendedor</strong>
					</ion-col>
					<ion-col col-1 (click)="changeSort('total')" class="orderCol">
						<strong>Monto $ 
							<ion-icon name="arrow-dropup" *ngIf="sortTerm === 'total' && sortDir === true"></ion-icon>
							<ion-icon name="arrow-dropdown" *ngIf="sortTerm === 'total' && sortDir === false"></ion-icon>
						</strong>
					</ion-col>
					<ion-col col-1 (click)="changeSort('closeMonth')" class="orderCol">
						<strong>Cierre
							<ion-icon name="arrow-dropup" *ngIf="sortTerm === 'closeMonth' && sortDir === true"></ion-icon>
							<ion-icon name="arrow-dropdown" *ngIf="sortTerm === 'closeMonth' && sortDir === false"></ion-icon>
						</strong>
					</ion-col>
					<ion-col col-2>
						<strong>Status</strong>
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
		  </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>

	<ion-grid #dataHeaders>
	  <ion-row class="data" *ngFor="let op of opList">
			<ion-col col-2>
				{{ op.payload.val().obra }}
			</ion-col>
			<ion-col col-3>
				{{ op.payload.val().client }}
			</ion-col>
			<ion-col col-2>
				{{ op.payload.val().salesRep }}
			</ion-col>
			<ion-col col-1>
				{{ op.payload.val().total |  number : '1.0-0' }}
			</ion-col>
			<ion-col col-1 text-center>
				<ion-select #closeMonth (ionChange)="changeCloseMonth(closeMonth.value, op.key)" interface="popover">
					<ion-option *ngFor="let month of months" [selected]="op.payload.val().closeMonth===month? true: false">{{month}}</ion-option>
				</ion-select>
			</ion-col>
			<ion-col col-2 text-center>
				<ion-select #status (ionChange)="changeStatus(status.value, op.key)" interface="popover"
				[ngClass]="{'pendiente': op.payload.val().status === 'Pendiente','rechazado': op.payload.val().status === 'Rechazado','cerrado': op.payload.val().status === 'Cerrado'}">
					<ion-option *ngFor="let option of statusOptions" [selected]="op.payload.val().status===option? true: false">{{option}}</ion-option>
				</ion-select>
			</ion-col>
			<ion-col col-1 text-center>
				<button ion-button icon-only clear color="lightGreyQ" small (click)="editOp(op.payload.val(), op.key)" class="actionButtons">
					<ion-icon name="create"></ion-icon>
				</button>
				<button ion-button icon-only clear color="lightGreyQ" small (click)="seeOp(op.payload.val(), op.key)" class="actionButtons">
					<ion-icon name="eye"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
  </ion-grid>

</ion-content>
