<ion-header>

  <ion-navbar>
	  <button ion-button menuToggle *ngIf="splitShow.showMenuToggle()">
	    <ion-icon name="menu"></ion-icon>
	  </button>
    <ion-buttons left>
	    <button ion-button icon-only small (click)="splitShow.showChange()" *ngIf="!splitShow.show && !splitShow.showMenuToggle()">
	      <ion-icon name="ios-menu"></ion-icon>
	    </button>
	  </ion-buttons>
    <ion-buttons end>
      <div class="">
        <label margin-horizontal>Vendedor</label>
        <select margin-horizontal class="select" name="" [(ngModel)]="salesRep" (ngModelChange)="filterSalesRep()">
          <option value=""></option>
          <option value="Alejandra Roldan">Roldan</option>
          <option value="Tarruella Alberto Horacio ">Tarruella</option>
        </select>
      </div>
    </ion-buttons>
    <ion-title>Oportunidades</ion-title>
  </ion-navbar>

	<ion-toolbar>
		  <ion-grid #dataHeaders>
			  <ion-row text-center>
					<ion-col col-2>
						<strong>Obra</strong>
					</ion-col>
					<ion-col col-2>
						<strong>Cliente</strong>
					</ion-col>
					<ion-col col-2>
						<strong>Vendedor</strong>
					</ion-col>
					<ion-col col-1>
						<strong>Monto $</strong>
					</ion-col>
					<ion-col col-1>
						<strong>Cierre</strong>
					</ion-col>
					<ion-col col-2>
						<strong>Status</strong>
					</ion-col>
				</ion-row>
		  </ion-grid>
  </ion-toolbar>

</ion-header>

<ion-content>

	<ion-grid #dataHeaders>
	  <ion-row class="data" *ngFor="let op of opList">
			<!-- <ion-col col-2>
				{{ op.payload.val().obra }}
			</ion-col>
			<ion-col col-2>
				{{ op.payload.val().client }}
			</ion-col>
			<ion-col col-2>
				{{ op.payload.val().salesRep }}
			</ion-col>
			<ion-col col-1>
				{{ op.payload.val().total |  number : '1.0-0' }}
			</ion-col>
			<ion-col col-1>
				{{ op.payload.val().closeMonth }}
			</ion-col> -->
			<!-- <ion-col col-2>
				{{ op.payload.val().status }} {{ op.status }} {{ op.$key }}
			</ion-col> -->
			<ion-col col-2>
				{{ op.status }} {{ op.$key }}
			</ion-col>
			<!-- <ion-col col-2 text-center>
				<ion-select #status (ionChange)="changeStatus(status.value, op.key)" interface="popover"
				[ngClass]="{'pendiente': part.status === 'Pendiente','encargado': part.status === 'Encargado', 'suspendido': part.status === 'Suspendido','completo': part.status === 'Completo'}">
					<ion-option *ngFor="let option of statusOptions" [selected]="part.status===option? true: false">{{option}}</ion-option>
				</ion-select>
			</ion-col> -->
		</ion-row>
  </ion-grid>

</ion-content>
