page-crm-op {

	.data {
		border-bottom: solid map-get($colors, light) 1px;
	}

	.data:hover {
		background-color: map-get($colors, light);
	}

	.description {
    word-wrap: break-word;
    white-space: pre-wrap;
	}

	ion-select {
    max-width: 100%;
    border-radius: 5px;
	}

	.select-md {
    padding: 5px 8px 5px 16px;
	}

	.pendiente {
		background-color: map-get($colors, warning);
	}

	.encargado {
		background-color: map-get($colors, ionBlue);
	}

	.rechazado {
		background-color: map-get($colors, danger);
	}

	.cerrado {
		background-color: map-get($colors, ionGreen);
	}

	.actionButtons {
		margin: 0px;
	}

	.total {
    padding: 0 1rem;
	}

	.orderCol {
		cursor: pointer;
	}

}
