ac-sales-chart {

	.selectItem {
    background-color: rgba(244, 244, 244, 0.29);
    color: black;
    border: none;
    // width: 200px;
    // text-indent: 15px;
  }

  // .salesMan {
  //   width: 300px;
  // }

  .label {
  	color: #999;
  }

  // .filters {
  //   font-size: 1.2rem;
  // }

  .item {
    font-size: 1.3rem;
  }

}
