
<!-- <ion-row>
	<h4>Facturacion acumulada mensual</h4>
</ion-row> -->

<ion-row>
	<ion-col col-auto>
		<ion-item no-lines class="month filters">
			<button item-end ion-button icon-only outline small (click)= "subMonth()">
				<ion-icon name="ios-arrow-back"></ion-icon>
			</button>
			<span>{{ date.format('MMMM') }}</span>
			<button item-end ion-button icon-only outline small (click)= "addMonth()">
				<ion-icon name="ios-arrow-forward"></ion-icon>
			</button>
		</ion-item>
	</ion-col>
	<ion-col col-auto>
		<ion-item no-lines class="salesMan filters">
			<select #selectSalesMan [(ngModel)]="salesMan" (ngModelChange)="salesDataFilter()" class="selectItem" [ngClass]="{label: selectSalesMan.value === ''}">
				<option value="" selected>Vendedor</option>
				<option>Alejandra Roldan</option>
				<option>Alberto Tarruella</option>
			</select>
		</ion-item>
	</ion-col>
	<ion-col col-auto>
		<ion-item no-lines class="salesMan filters">
			<select #selectBrand [(ngModel)]="brand" (ngModelChange)="salesDataFilter()" class="selectItem" [ngClass]="{label: selectBrand.value === ''}">
				<option value="" selected>Marca</option>
				<option>Quadri</option>
			</select>
		</ion-item>
	</ion-col>
	<ion-col col-auto *ngIf="permission('direccion')">
		<ion-item no-lines class="salesMan filters">
			<ion-label> Avion</ion-label>
			<ion-toggle [(ngModel)]="showAvion" (ngModelChange)="salesDataFilter()"></ion-toggle>
		</ion-item>
	</ion-col>
</ion-row>

<ion-row *ngIf="showPrize">
	<ion-col text-center>
		Facturacion: {{ totalSales | number : '1.0-2' }}
	</ion-col>
	<ion-col text-center> 
		<span *ngIf="salesMan !== '' && brand === 'Quadri'">Restan a objetivo: {{ toCom | number: '1.0-2' }}</span> 
	</ion-col>
</ion-row>

<ion-row #chartContainer (window:resize)="setWidth()">
	<div #salesAcChart class="chart"></div>
</ion-row>

