<ion-header>

  <ion-navbar>
	  <button ion-button menuToggle *ngIf="splitShow.showMenuToggle()">
	    <ion-icon name="menu"></ion-icon>
	  </button>
    <ion-buttons left>
	    <button ion-button icon-only small (click)="splitShow.showChange()" *ngIf="!splitShow.show && !splitShow.showMenuToggle()">
	      <ion-icon name="ios-menu"></ion-icon>
	    </button>
	  </ion-buttons>
    <ion-title>Metricas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	
	<div class="acChart">
		<acChart></acChart>
	</div>

	<div><hr></div>

	<prodChart></prodChart>

	<ac-sales-chart></ac-sales-chart>

</ion-content>
