<ion-header>

  <ion-navbar>
	  <button ion-button menuToggle *ngIf="splitShow.showMenuToggle()">
	    <ion-icon name="menu"></ion-icon>
	  </button>
    <ion-buttons left>
	    <button ion-button icon-only small (click)="splitShow.showChange()" *ngIf="!splitShow.show && !splitShow.showMenuToggle()">
	      <ion-icon name="ios-menu"></ion-icon>
	    </button>
	  </ion-buttons>
    <ion-title>Programa de produccion</ion-title>
    <ion-buttons end>
	    <button ion-button icon-only small (click)="hideShowForm()">
				<ion-icon name="add"></ion-icon>
	    </button>
	    <button ion-button icon-only small (click)="showEntregas = !showEntregas">
				<ion-icon name="paper-plane"></ion-icon>
	    </button>
	  </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid>
		<ion-row no-padding style="height: 100%;">

			<ion-col class="container" no-padding *ngIf="program">
				<form [formGroup]="myForm" novalidate (ngSubmit)="submit()" *ngIf="showForm">
					
					<ion-row align-items-center class="inputForm">
						<ion-col col-auto>
							<ion-input #inputDate [ngClass]="{selectLabel: inputDate.value === ''}" formControlName="date" placeholder="Fecha" type="date" class="inputDate"></ion-input>
						</ion-col>
						<ion-col col-auto>
							<select #selectMachine formControlName="machine" class="selectInput" [ngClass]="{selectLabel: selectMachine.value === ''}" (change)="machChange(selectMachine.value)">
								<option value="" disabled selected>Maquina</option>
						    <option *ngFor="let mach of data.maquinasProd | sort:'':true">{{mach}}</option>
							</select>
						</ion-col>
						<ion-col col-auto>
							<select #selectColor formControlName="color" class="selectInput" [ngClass]="{selectLabel: selectColor.value === ''}">
								<option value="" disabled selected>Color</option>
								<option *ngFor="let color of colors | sort:'':true">{{color}}</option>
							</select>
						</ion-col>
						<ion-col col-auto>
							<select #selectDim formControlName="dim" class="selectInput" [ngClass]="{selectLabel: selectDim.value === ''}">
								<option value="" disabled selected>Dim</option>
								<option *ngFor="let dim of dims | sort:'':true">{{ dim }}</option>
							</select>
						</ion-col>
						<ion-col col-auto>
							<select #selectDrawing formControlName="drawing" class="selectInput" [ngClass]="{selectLabel: selectDrawing.value === ''}">
								<option value="" disabled selected>Dibujo</option>
								<option *ngFor="let drawing of drawings | sort:'':true">{{ drawing }}</option>
							</select>
						</ion-col>
						<ion-col col-auto>
							<ion-input formControlName="quantity" placeholder="Cant" type="number" class="inputQuantity"></ion-input>
						</ion-col>
						<ion-col col-auto>
							<select #selectUnit formControlName="unit" class="selectInput" [ngClass]="{selectLabel: selectUnit.value === ''}">
								<option value="" disabled selected>Unidad</option>
								<option *ngFor="let unit of units | sort:'':true">{{ unit }}</option>
							</select>
						</ion-col>
						<ion-col col-auto>
							<ion-input formControlName="obs" placeholder="Observacion" type="text" class="inputObs"></ion-input>
						</ion-col>
						<ion-col col-auto no-padding>
							<button ion-button icon-only clear small  type="submit" [disabled]="!myForm.valid">
								<ion-icon name="checkmark-circle"></ion-icon>
							</button>
						</ion-col>
						<ion-col col-auto no-padding>
							<button ion-button icon-only clear small color="warning" type="button" (click)="buildForm()">
								<ion-icon name="close-circle"></ion-icon>
							</button>
						</ion-col>
					</ion-row>

				</form>

				<ion-row align-items-center class="monthTitle" no-padding>
					<ion-col col-1 text-center no-padding>
						<button ion-button clear icon-only small color="light" (click)="previous()"><ion-icon name="ios-arrow-back"></ion-icon></button>
					</ion-col>
					<ion-col col-10 text-center no-padding>
						{{ selected.format('MMMM') }} {{ selected.format('YYYY') }}
					</ion-col>
					<ion-col col-1 text-center no-padding>
						<button ion-button clear icon-only small color="light" (click)="next()"><ion-icon name="ios-arrow-forward"></ion-icon></button>
					</ion-col>
				</ion-row>

				<ion-row align-items-center class="daysTitle"> 
					<ion-col text-center>Dom</ion-col>
					<ion-col text-center>Lun</ion-col>
					<ion-col text-center>Mar</ion-col>
					<ion-col text-center>Mier</ion-col>
					<ion-col text-center>Jue</ion-col>
					<ion-col text-center>Vier</ion-col>
					<ion-col text-center>Sab</ion-col>
				</ion-row>

				<ion-row *ngFor="let week of weeks" class="week">
					<ion-col *ngFor="let day of week.days" class="day">
						<span class="fecha">{{ day.number }}</span>
						<div *ngIf="program[day.date.format('YYYYMMDD')]">
							<div *ngFor="let mach of program[day.date.format('YYYYMMDD')] | objNgfor" class="item">
								<div><span [ngClass]="machClass(mach)" class="machine">{{ mach }}:&nbsp;</span></div>
								<div *ngFor="let art of program[day.date.format('YYYYMMDD')][mach] | objNgfor" class="article">
									{{ program[day.date.format('YYYYMMDD')][mach][art].codigo }}
									<span *ngIf="program[day.date.format('YYYYMMDD')][mach][art].valor">-</span> 
									{{ program[day.date.format('YYYYMMDD')][mach][art].valor }}&nbsp;
									{{ program[day.date.format('YYYYMMDD')][mach][art].unidad}}
									<span *ngIf="program[day.date.format('YYYYMMDD')][mach][art].observacion">-</span>
									{{ program[day.date.format('YYYYMMDD')][mach][art].observacion }}
								</div>
							</div>						
						</div>
					</ion-col>
				</ion-row>

			</ion-col>
		
			<ion-col col-3 *ngIf="showEntregas">
				{{ program | json }}
			</ion-col>

		</ion-row>
	</ion-grid>

</ion-content>
