page-prod-program {

	scroll-content {
    display: flex;
    flex-direction: column;
  }

  ion-grid {
    padding: 0px;
    height: 100%;
  }

  // map-get($colors, light);
  // background: color($colors, twitter, base);

  .container {
  	display: flex;
    flex-direction: column;
    border-top: solid 1px color($colors, border);
    border-bottom: solid 1px color($colors, border);
  }

  .grid {
  	padding: 0px;
  }

  .monthTitle {
  	background-color: color($colors, secondary);
  	font-weight: bold;
  	color: white;
    border-left: solid 1px map-get($colors, border);
    border-right: solid 1px map-get($colors, border);
  }

  .daysTitle {
    border-left: solid 1px map-get($colors, border);
    border-right: solid 1px map-get($colors, border);
  }

  .week {
    flex: 1;
    border-top: solid 1px map-get($colors, border);
    border-left: solid 1px map-get($colors, border);
  }

  .day {
  	border-right: solid 1px map-get($colors, border);
  	overflow: scroll;
  	font-size: 12px;
  	line-height: 120%;
  }

  .fecha {
  	position: absolute;
  	right: 5%;
  	top: 5%;
  }

  .item {
  	margin-bottom: 4px;
  }

  .machine {
  	color: white;
  	border-radius: 3px;
  	font-weight: bold;
  }

  .article {
  	color: color($colors, greyQuadri);
  }

  .prensa {
  	background-color: color($colors, ionBlue);
  }

  .pulidora {
  	background-color: color($colors, ionGreen);
  }

  .otro {
  	background-color: color($colors, warning);
  }

}
