
<ion-grid>

	<!-- <ion-row>
		<h4>Produccion acumulada mensual</h4>
	</ion-row> -->

	<ion-row>
		<ion-col col-auto>
			<ion-item no-lines class="month">
				<ion-label>{{ date.format('MMMM') }} - {{ date.format('YY') }}</ion-label>
				<button item-end ion-button icon-only outline small (click)= "subMonth()">
					<ion-icon name="ios-arrow-back"></ion-icon>
				</button>
					<!-- {{ date.format('MMMM') }} - {{ date.format('YY') }} -->
				<button item-end ion-button icon-only outline small (click)= "addMonth()">
					<ion-icon name="ios-arrow-forward"></ion-icon>
				</button>
			</ion-item>
		</ion-col>
		<ion-col>
			<ion-item no-lines class="unit">
				<select [(ngModel)]="unit" (ngModelChange)="acProdData()" class="selectItem">
					<option>m2</option>
					<option>ml</option>
				</select>
			</ion-item>
		</ion-col>
	</ion-row>
	<ion-row>
		<ion-col #chartContainer (window:resize)="setWidth()" class="chartContainer" >
			<div #prodAcChart class="chart"></div>
		</ion-col>
	</ion-row>

</ion-grid>
	


