acChart {

	.selectItem {
    background-color:rgba(244, 244, 244, 0.29);
    border: none;
    width: 75px;
    text-indent: 15px;
  }

  .unit {
    width: 150px;
  }

  .chartContainer {
    // max-height: 400px;
  }

  .item {
    font-size: 1.3rem;
  }

}
