page-spare-parts {

	// .selectMachine {
 //    background-color: white;
 //    border: none;
 //    flex: 1;
 //    -webkit-appearance: none;
	// }

	// .labelMachineSelect {
	// 	color: #999;
 //    flex-grow: 0;
 //    flex-shrink: 0;
 //    flex-basis: 100px;
 //    width: 100px;
 //    min-width: 100px;
 //    max-width: 200px;
	// }

	// .hidden {
	// 	display: none;
	// }

	// .headers {
	// 	border-bottom: solid 3px map-get($colors, lightGreyQ);
	// }


	.bigFont {
		font-size: 1.6rem;
	}

	.data {
		border-bottom: solid map-get($colors, light) 1px;
	}

	.data:hover {
		background-color: map-get($colors, light);
	}

	ion-select {
    max-width: 100%;
    border-radius: 5px;
	}

	.description {
    word-wrap: break-word;
    white-space: pre-wrap;
	}

	.select-md {
    padding: 5px 8px 5px 16px;
	}

	.pendiente {
		background-color: map-get($colors, warning);
	}

	.encargado {
		background-color: map-get($colors, ionBlue);
	}

	.suspendido {
		background-color: map-get($colors, danger);
	}

	.completo {
		background-color: map-get($colors, secondary);
	}

	.actionButtons {
		margin: 0px;
	}

}
