<ion-header>

  <ion-navbar>
	  <button ion-button menuToggle *ngIf="splitShow.showMenuToggle()">
	    <ion-icon name="menu"></ion-icon>
	  </button>
    <ion-buttons left>
	    <button ion-button icon-only small (click)="splitShow.showChange()" *ngIf="!splitShow.show && !splitShow.showMenuToggle()">
	      <ion-icon name="ios-menu"></ion-icon>
	    </button>
	  </ion-buttons>
    <ion-searchbar [(ngModel)]="searchInput" (ngModelChange)="onChange($event)"></ion-searchbar>
    <ion-buttons end>
	    <button ion-button icon-only (click)="presentModal()">
	      <ion-icon name="add"></ion-icon>
	    </button>
    	<button ion-button icon-only (click)="presentOptions($event)">
	      <ion-icon name="options"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>

		  <ion-grid #dataHeaders>
			  <ion-row text-center>
					<ion-col col-1>
						<strong>Fecha</strong>
					</ion-col>
					<ion-col col-1>
						<strong >Tipo</strong>
					</ion-col>
					<ion-col col-3>
						<strong>Descripcion</strong>
					</ion-col>
					<ion-col col-1>
						<strong>Cantidad</strong>
					</ion-col>
					<ion-col col-1>
						<strong>Destino</strong>
					</ion-col>
					<ion-col col-1>
						<strong>Muestra</strong>
					</ion-col>
					<ion-col col-1>
						<strong>Proveedor</strong>
					</ion-col>
					<ion-col col-2>
						<strong>Status</strong>
					</ion-col>
					<ion-col col-1>
					</ion-col>
				</ion-row>
		  </ion-grid>

	  </ion-toolbar>


</ion-header>

<ion-content>

	<div #data class="tableLog" *ngIf="spareParts">
		<ion-grid>
			<ion-row justify-content:start class="data" *ngFor="let part of spareParts">
				<ion-col col-1 text-center>
					{{ part.payload.val().fecha | momentFormat:'D/M/YY' }}
				</ion-col>
				<ion-col col-1 text-center>
					{{ part.payload.val().tipo }}
				</ion-col>
				<ion-col col-3>
					<div class="description">{{ part.payload.val().detalle }}</div>
				</ion-col>
				<ion-col col-1 text-center>
					{{ part.payload.val().cantidad }} {{ part.payload.val().unidad }}
				</ion-col>
				<ion-col col-1 text-center>
					{{ part.payload.val().destino }}
				</ion-col>
				<ion-col col-1 text-center>
					{{ part.payload.val().muestra }}
				</ion-col>
				<ion-col col-1>
						{{ part.payload.val().proveedor }}
					</ion-col>
				<ion-col col-2 text-center>
					<ion-select #status (ionChange)="changeStatus(status.value, part.key)" interface="popover"
					[ngClass]="{'pendiente': part.payload.val().status === 'Pendiente','encargado': part.payload.val().status === 'Encargado', 'suspendido': part.payload.val().status === 'Suspendido','completo': part.status === 'Completo'}">
						<ion-option *ngFor="let option of statusOptions" [selected]="part.payload.val().status===option? true: false">{{option}}</ion-option>
					</ion-select>
				</ion-col>
				<ion-col col-1 text-center>
					<button ion-button icon-only clear color="lightGreyQ" small (click)="editPart(part.payload.val(), part.key)" class="actionButtons">
						<ion-icon name="create"></ion-icon>
					</button>
					<button ion-button icon-only clear color="lightGreyQ" small (click)="deletepart(part.key)" class="actionButtons">
						<ion-icon name="trash"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
	  </ion-grid>
	</div>

</ion-content>
