<ion-header>

  <ion-navbar>
    <ion-title>Oportunidad</ion-title>
    <ion-buttons end>
	    <button ion-button (click)="viewCtrl.dismiss()">
	      Salir
	    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid fixed #form>
	  <form [formGroup]="opForm" (ngSubmit)="onSubmit()">
				<ion-list>

          <!-- <ion-item>
				    <ion-label fixed>Obra</ion-label>
				    <ion-input *ngIf="!opKey" formControlName="obra" type="text"></ion-input>
				    <div *ngIf="opKey" item-content class="">
							{{ opForm.value.obra}}
				    </div>
				    <button *ngIf="addPsp" type="button" ion-button clear color="lightGreyQ" icon-only item-end (click)="lookOp()">
			        <ion-icon name="eye"></ion-icon>
			      </button>
			      <button *ngIf="addPsp" type="button" ion-button clear color="lightGreyQ" icon-only item-end (click)="addOp()">
			        <ion-icon name="add"></ion-icon>
			      </button>
					</ion-item> -->
					
					<ion-item>
						<ion-label fixed>Oportunidad</ion-label>
						<ion-input *ngIf="!addPsp" formControlName="obra" type="text"></ion-input>
						<div *ngIf="addPsp" item-content class="">
							{{ opForm.value.obra}}
						</div>
						<button *ngIf="addPsp" type="button" ion-button clear color="lightGreyQ" icon-only item-end (click)="lookOp()">
							<ion-icon name="add"></ion-icon>
						</button>
					</ion-item>

          <ion-item>
				    <ion-label fixed>Cliente</ion-label>
				    <!-- <ion-input *ngIf="!clientKey" formControlName="client" type="text"></ion-input>
				    <div *ngIf="clientKey" item-content class="">
							{{ opForm.value.client}}
						</div> -->
						<div item-content class="">
								{{ opForm.value.client}}
						</div>
				    <button type="button" ion-button clear color="lightGreyQ" icon-only item-end (click)="lookClient()">
			        <ion-icon name="add"></ion-icon>
			      </button>
			      <!-- <button type="button" ion-button clear color="lightGreyQ" icon-only item-end (click)="addClient()">
			        <ion-icon name="add"></ion-icon>
			      </button> -->
				  </ion-item>

				  <ion-item *ngIf="addPsp">
				    <ion-label fixed>Razon Social</ion-label>
				    <div item-content class="">
							{{ pspData.razSoc }}
				    </div>
				  </ion-item>

				  <ion-item *ngIf="!addPsp">
					  <ion-label class="labelSelect">Vendedor</ion-label>
						<select item-content formControlName="salesRep" class="select">
							<option value="" disabled></option>
							<option *ngFor="let salesRepOp of salesReps | sort:'':true"
							value="{{ salesRepOp === 'Tarruella Alberto Horacio'? 'Tarruella Alberto Horacio ': salesRepOp }}">{{ salesRepOp }}</option>
					  </select>
				  </ion-item>

					<ion-item>
							<ion-label class="labelSelect">Mes cierre</ion-label>
							<select item-content formControlName="closeMonth" class="select">
								<option value=""></option>
						    <option *ngFor="let month of months">{{ month }}</option>
						  </select>
					</ion-item>

          <ion-item>
				    <ion-label fixed>Monto</ion-label>
				    <!-- <ion-input formControlName="total" type="number"></ion-input> -->
						<ion-input 
						[ngModel]="amount" 
            (ngModelChange)="onAmountChange($event)"
						formControlName="total" type="text"></ion-input>
				  </ion-item>

				</ion-list>

				<button ion-button outline type="submit" [disabled]="!opForm.valid">
			    Aceptar
			  </button>

		  </form>

  </ion-grid>

</ion-content>
