<ion-header>

  <ion-navbar>
  	<ion-buttons left>
	  	<split-ctrl></split-ctrl>
	  </ion-buttons>
    <ion-title *ngIf="op">
			<input class="opName" #opNameEl type="text" size="{{ opName.length || 1 }}" 
			(blur)="change('obra', opNameEl.value)" 
			[(ngModel)]="opName">
			<span (click)="changeClient(op)" class="client" >
				- {{ op?.client }}	
			</span>
			<!-- <br> <span>- ClaveOp {{ op?.$key }} - Clave Cliente {{ op.clientKey }} </span> -->
		</ion-title>
    <ion-buttons start>
    	<button ion-button icon-only clear color="lightGreyQ" small (click)="seeClient(op?.clientKey)">
					<ion-icon name="eye"></ion-icon>
			</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid *ngIf="op">
		
		<ion-row>
			<ion-col class="colTitle">
				<select class="titleItem" #sales (change)="change('salesRep', sales.value)">
					<option *ngFor="let salesRep of salesReps" [selected]="op.salesRep===salesRep? true: false">{{salesRep}}</option>
				</select>
				<!-- $ <input style="border: none;" #totalValueEl type="text" size="{{ totalValue.toString().length || 1 }}" (blur)="change('total', totalValueEl.value)" [(ngModel)]="totalValue"> -->
				$ <input style="border: none;" #totalValueEl type="text" 
				size="{{ totalValue.toString().length || 1 }}" 
				(blur)="change('total', totalValueEl.value)" 
				[ngModel]="totalValue"
				(ngModelChange)="onAmountChange($event)"
				>
				<select class="titleItem" #closeMonth (change)="change('closeMonth', closeMonth.value)">
					<option *ngFor="let month of months" [selected]="op.closeMonth===month? true: false">{{month}}</option>
				</select>
				<select class="titleItem" #status (change)="change('status', status.value)"
				[ngClass]="{'pendiente': statusBis === 'Pendiente','rechazado': statusBis === 'Rechazado','cerrado': statusBis === 'Cerrado', 'seguro': statusBis === 'Seguro'}">
					<option *ngFor="let option of statusOptions" [selected]="op.status === option? true: false">{{option}}</option>
				</select>
			</ion-col>
		</ion-row>
		
		<form [formGroup]="agendaForm" class="inputForm" (ngSubmit)="submit()">
			<ion-row align-items-center>
					<ion-col col-auto>
						<ion-input #inputDate [ngClass]="{label: inputDate.value === ''}" formControlName="time" placeholder="Fecha" type="date" class="input inputDate"></ion-input>
					</ion-col>
				<ion-col col-auto>
					<select #selectInput formControlName="action" class="selectInput" [ngClass]="{label: selectInput.value === ''}">
						<option value="" disabled selected>accion</option>
				    <option *ngFor="let action of actions | sort:'':true">{{ action }}</option>
					</select>
				</ion-col>
				<ion-col>
					<ion-input #desc [ngClass]="{label: desc.value === ''}" formControlName="desc" placeholder="descripcion" type="text" class="input inputText"></ion-input>
				</ion-col>
				<ion-col col-auto>
					<button ion-button icon-only clear small  color="ionBlue" type="submit" [disabled]="!agendaForm.valid">
						<ion-icon *ngIf="edit" name="create"></ion-icon>
						<ion-icon *ngIf="!edit" name="add"></ion-icon>
					</button>
				</ion-col>
				<ion-col col-auto *ngIf="edit">
					<button ion-button icon-only clear small  color="ionBlue" type="button"
					(click)="switchToNew()" >
						<ion-icon name="add"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</form>

		<div *ngIf="op.agenda">
			<ion-card>
			
			  <ion-card-header>
			    Agenda
			  </ion-card-header>
			
			  <ion-card-content>
			    <ion-row class="headers">
						<ion-col text-center col-2>
							<strong>Fecha</strong>
						</ion-col>
						<ion-col text-center col-2>
							<strong>Accion</strong>
						</ion-col>
						<ion-col text-center>
							<strong>Descripcion</strong>
						</ion-col>
						<ion-col text-center col-1>
							<strong>Completo</strong>
						</ion-col>
						<ion-col col-1>
						</ion-col>
					</ion-row>

					<ion-row *ngFor="let item of op.agenda | objNgfor" class="data" align-items-center>
						<ion-col text-center col-2>
							{{ agendaObj[item]?.time | momentFormat:'DD-MM-YYYY' }}
						</ion-col>
						<ion-col text-center col-2>
							{{ agendaObj[item]?.action }}
						</ion-col>
						<ion-col>
							{{ agendaObj[item]?.desc }}
						</ion-col>
						<ion-col text-center col-1 class="checkButton">
							<ion-checkbox #check align-self-center [checked]="agendaObj[item]?.complete" 
							(ionChange)="changeCheck(item, check.value)"></ion-checkbox>
						</ion-col>
						<ion-col col-1 text-center>
							<button ion-button icon-only clear color="lightGreyQ" small 
							(click)="switchEditAgendaItem(agendaObj[item], item)" class="actionButtons">
								<ion-icon name="create"></ion-icon>
							</button>
							<button ion-button icon-only clear color="lightGreyQ" small 
							(click)="deleteAgendaItem(item)" class="actionButtons">
								<ion-icon name="trash"></ion-icon>
							</button>
						</ion-col>
					</ion-row>

			  </ion-card-content>
			</ion-card>
		</div>
		
		
		<h4 *ngIf="!op.psps" margin>
			No han sido emitidos presupuestos
		</h4>
		<div *ngIf="op.psps">
			<ion-card *ngFor="let psp of op.psps | objNgfor">
				
				<div *ngIf="calipsoObj">
					<div *ngIf="calipsoObj[psp]">
						
						<ion-row class="headers">
							<ion-col>
								<ion-card-header>
								Presupuesto {{ psp }} - {{ calipsoObj[psp].flag }}
								</ion-card-header>
							</ion-col>
							<ion-col col-auto align-self-center>
								<button ion-button icon-only clear color="lightGreyQ" small 
								(click)="sendPsp(psp)" class="actionButtons">
									<ion-icon name="paper-plane"></ion-icon>
								</button>
								<button ion-button icon-only clear color="lightGreyQ" small 
								(click)="deletePsp(psp)" class="actionButtons">
									<ion-icon name="trash"></ion-icon>
								</button>
							</ion-col>
						</ion-row>
						
						
					  <ion-card-content>
							<ion-row class="headers">
								<ion-col>
									<strong>Codigo</strong>
								</ion-col>
								<ion-col col-4>
									<strong>Descripcion</strong>
								</ion-col>
								<ion-col>
									<strong>Cantidad</strong>
								</ion-col>
								<ion-col>
									<strong>Precio</strong>
								</ion-col>
								<ion-col>
									<strong>Sub-total</strong>
								</ion-col>
							</ion-row>
							<ion-row *ngFor="let item of calipsoObj[psp]?.items" class="data">
			    			<ion-col>
									{{ item.codigocc }}
								</ion-col>
								<ion-col col-4>
									{{ item.conceptocomercial }}
								</ion-col>
								<ion-col>
									{{ item.cantidad | number: '1.0-0'}}
								</ion-col>
								<ion-col>
									{{ item.precio | number: '1.0-0' }}
								</ion-col>
								<ion-col>
									{{ item.total_importe | number: '1.0-0'}}
								</ion-col>
			    		</ion-row>
			    		<ion-row class="headers">
								<ion-col>
								</ion-col>
								<ion-col col-4>
								</ion-col>
								<ion-col>
								</ion-col>
								<ion-col>
								</ion-col>
								<ion-col>
									<strong>{{ calipsoObj[psp].total | number: '1.0-0' }}</strong>
								</ion-col>
							</ion-row>
					  </ion-card-content>
					</div>
					<div *ngIf="!calipsoObj[psp]" >
						<ion-card-header margin-bottom>
					   Presupuesto {{ psp }}
					  </ion-card-header>
						<ion-card-content>
								rechazado, para licitacion o muy antiguo
						</ion-card-content>
					</div>
				</div>
				
			  

			</ion-card>
		</div>

	</ion-grid>

</ion-content>
