<ion-header>

  <ion-navbar>
		<ion-title>{{submitType === 'new' ? 'Nuevo' : 'Editar'}}</ion-title>
    <ion-buttons end>
	    <button ion-button (click)="viewCtrl.dismiss()">
	      Salir
	    </button>
    </ion-buttons>  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid fixed #form class="gridForm">

		<form [formGroup]="machineForm" (ngSubmit)="onSubmit()">

			<ion-list>
				<ion-item *ngIf="platform.is('mobile')">
				  <ion-label fixed>Fecha</ion-label>
				  <ion-datetime formControlName="date" displayFormat="MM/DD/YYYY"></ion-datetime>
				</ion-item>

				<ion-item *ngIf="!platform.is('mobile')">
			    <ion-label fixed>Fecha</ion-label>
			    <ion-input formControlName="date" type="date"></ion-input>
			  </ion-item>

			  <!-- <ion-item *ngIf="!platform.is('mobile')">
			    <ion-label fixed>Fecha</ion-label>
			    <my-date-picker item-content formControlName="date" [options]="myDatePickerOptions"></my-date-picker>
			  </ion-item> -->

				<ion-item>
			    <ion-label fixed>N° de orden</ion-label>
			    <ion-input formControlName="orderNumber" type="number"></ion-input>
			  </ion-item>
				
				<ion-item *ngIf="platform.is('mobile')">
				  <ion-label>Maquina</ion-label>
				  <ion-select formControlName="title" interface="popover">
				    <ion-option *ngFor="let maquina of staticData.maquinas">{{maquina}}</ion-option>
				  </ion-select>
				</ion-item>

				<ion-item *ngIf="!platform.is('mobile')">
						<ion-label class="labelMachineSelect">Maquina</ion-label>					
					  <select item-content formControlName="title" class="selectMachine">
					    <option *ngFor="let maquina of staticData.maquinas">{{maquina}}</option>
					  </select>
				</ion-item>

			  <ion-item>
			    <ion-label fixed>Descripcion</ion-label>
			    <ion-textarea formControlName="description" fz-elastic></ion-textarea>
			  </ion-item>

			</ion-list>

			<button ion-button outline  type="submit" [disabled]="!machineForm.valid">
		    {{submitType === 'new' ? 'Agregar' : 'Actualizar '}}
		  </button>

		  <button ion-button outline (click)="toNew()" *ngIf="submitType !== 'new'">
		    Nuevo
		  </button>

	  </form>

  </ion-grid>

</ion-content>
