page-crm-dashboard {

	.container {
		display: flex;
	}

	// .agenda {
	// 	width: 50%;
	// }

	// .graficos {
	// 	width: 50%
	// }

	.agenda {
		width: 100%;
	}

	.date {
    width: 270px;
    padding-left: 0px;
  }

  .text-input {
    background-color: rgba(244, 244, 244, 0.29);
    border-radius: 15px;
		padding-left: 2rem;
  }

  .item-inner {
    border-bottom-color: transparent !important; 
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
  }

  .checkButton {
    display: flex;
    align-items: center;
    justify-content: center;
	}

	.headers {
		border-bottom: solid map-get($colors, light) 1px;
	}

	.data {
		border-bottom: solid map-get($colors, light) 1px;
	}

	.data:hover {
		background-color: map-get($colors, light);
	}

	.actionButtons {
		margin: 0px;
	}

	.agendaCard {
		margin-left: 0px;
	}

	.selectItem {
    background-color: rgba(244, 244, 244, 0.29);
    color: black;
    border: none;
	}
	
	.inputDate {
    // height: 20px;    
  	background-color:white;
		// width: 140px;
		border-radius: 5px;
	}
	
	.label {
  	color: #999;
	}
	
	.selectInput {
  	background-color:white;
    border: none;
    height: 2.2rem;
	}
	
	.input {
  	background-color:white;
		border-radius: 8px;
	}
	
	.inputText {
		//width: 100%;
		line-height: 1.6;
	}
	
	.inputForm .text-input {
    background-color: white;
    border-radius: 15px;
		padding-left: 2rem;
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.op {
		cursor: pointer;
		padding: 0 0.5rem 0 0.5rem;
	}

}
