<ion-grid>

	<ion-row >

			<ion-item no-lines>
				<ion-label class="labelMachineSelect">Maquina</ion-label>
				<select item-content class="selectMachine selectArt" [(ngModel)]="machFilter" (ngModelChange)="filteredProdData()">
			    <option *ngFor="let maquina of staticData.maquinasProd | sort:'':true">{{maquina}}</option>
			  </select>
			  <div item-content class="labelColor">Color</div>
			  <select item-content class="selectMachine selectArt" [(ngModel)]="colorFilter" (ngModelChange)="filteredProdData()">
			    <option value="" selected></option>
			    <option *ngFor="let color of staticData.color | sort:'':true">{{color}}</option>
			  </select>
			  <div item-content class="labelColor">Dimension</div>
				<select item-content class="selectMachine selectArt" [(ngModel)]="dimFilter" (ngModelChange)="filteredProdData()">
			    <option value="" selected></option>
			    <option *ngFor="let dim of staticData.dim | sort:'':true">{{dim}}</option>
			  </select>
			  <div item-content class="labelColor">Dibujo</div>
			  <select item-content class="selectMachine selectArt" [(ngModel)]="drawingFilter" (ngModelChange)="filteredProdData()">
			    <option value="" selected></option>
			    <option *ngFor="let drawing of staticData.drawing | sort:'':true">{{drawing}}</option>
			  </select>

			</ion-item>
	
	</ion-row>

	<ion-row>

			<ion-item no-lines>
				<ion-label class="labelMachineSelect">Unidad</ion-label>
				<select item-content [(ngModel)]="unit2" (ngModelChange)="filteredProdData()" class="selectMachine selectArt">
					<option>m2</option>
					<option>ml</option>
				</select>
				
				<div item-content class="labelColor">Tipo</div>
			  <select item-content class="selectMachine selectArt" [(ngModel)]="typeFilter" (ngModelChange)="filteredProdData()">
			    <option value="" selected></option>
			    <option>PT</option>
					<option>PP</option>
			  </select>

			</ion-item>

	</ion-row>

	<ion-row>
		<div #prodChart></div>
	</ion-row>

</ion-grid>


