page-diary-prod {

  .date {
    background-color: #f8f8f8;
    width: 500px;
  }

  .item-inner {
    border-bottom-color: transparent !important; 
    -webkit-box-shadow: none !important; 
    box-shadow: none !important; 
  }

  .input-wrapper {
    flex: initial;
  }

  // .dateInput {
  //   flex: 0.2;
  // }

	.machine {
		margin-bottom: 30px;
	}

  .machineTitle {
    display: inline;
  }

  .nominal {
    margin-left: 30px;
  }

  .nominalInput {
    border: none;
  }

  .alert {
    color: red;
    font-weight: bold;
  }

	.data {
    margin-left: 10px;
    margin-right: 10px;
	}

	.paradaLabel {
		color: #999;
	}

	.causaContent {
		flex: 1;
	}

	.horaParada {
    flex: 0.3;
  }

  .border {
  	border: solid 1px #dedede;
  }

  .borderRow {
  	border-bottom: solid 1px #dedede;
  	border-left: solid 1px #dedede;
  	border-right: solid 1px #dedede;
  	margin-bottom: 20px;
  }

  .articleTitle {
  	margin-top: 20px !important;
  }

}
