page-diary-prod {

	.machine {
		margin-bottom: 30px;
	}

	.data {
    margin-left: 10px;
    margin-right: 10px;
	}

	.paradaLabel {
		color: #999;
	}

	.causaContent {
		flex: 1;
	}

	.horaParada {
    flex: 0.3;
  }

  .border {
  	border: solid 1px #dedede;
  }

  .borderRow {
  	border-bottom: solid 1px #dedede;
  	border-left: solid 1px #dedede;
  	border-right: solid 1px #dedede;
  	margin-bottom: 20px;
  }

  .articleTitle {
  	margin-top: 20px !important;
  }

}
