<!-- <ion-split-pane [when]="shouldShow()"> -->
<ion-split-pane [enabled]="shouldShow()" when="xl">

  <ion-menu id="loggedInMenu" [content]="content" *ngIf="userProfile">

    <ion-header>
      <ion-toolbar>
        <ion-item *ngIf="userProfile" no-lines class="user">
          <ion-avatar item-left>
            <img [src]="userProfile.photoURL">
          </ion-avatar>
          <h2>{{ userProfile.displayName }}</h2>
          <h3>{{ userProfile.email }}</h3>
          <!-- <button ion-button outline item-end icon-only (click)="splitShow.show = !splitShow.show"
          *ngIf="splitShow.show">
            <ion-icon name="close"></ion-icon>
          </button>
          <button ion-button outline item-end icon-only (click)="splitShow.show = !splitShow.show"
          *ngIf="!splitShow.show">
            <ion-icon name="checkmark"></ion-icon>
          </button> -->
        </ion-item>
      </ion-toolbar>

    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Mantenimiento
        </ion-list-header>
        <button ion-item menuClose (click)="platform.is('mobile')? openPage('SparePartsFormPage'): openPage('SparePartsPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Repuestos
        </button>
        <button ion-item menuClose (click)="platform.is('mobile')? openPage('MachineLogFormPage'): openPage('MachineLogPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Registro
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Produccion
        </ion-list-header>
        <button ion-item menuClose (click)="openPage('PartesFormPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Carga
        </button>
        <button ion-item menuClose (click)="openPage('ProdLogPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Registros
        </button>
        <!-- <button ion-item menuClose>
          <ion-icon item-start name="list-box"></ion-icon>
          Producto en proceso
        </button> -->
        <button ion-item menuClose (click)="openPage('DiaryProdPage')">
          <ion-icon item-start name="stats"></ion-icon>
          Informe diario
        </button>
        <button ion-item menuClose (click)="openPage('ProdMetricsPage')">
          <ion-icon item-start name="stats"></ion-icon>
          Metricas
        </button>
      </ion-list>

<!--       <ion-list>
        <ion-list-header>
          Ventas
        </ion-list-header>
        <button ion-item menuClose (click)="openPage('PruebaPage')">
          <ion-icon item-start name="stats"></ion-icon>
          Metricas
        </button>
      </ion-list> -->

      <ion-list>
        <ion-list-header>
          Usuario
        </ion-list-header>
        <button ion-item menuClose (click)="logOut()">
          <ion-icon item-start name="log-out"></ion-icon>
          Salir
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

	<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>

