<ion-split-pane [when]="shouldShow()" class="splitPane" >
<!-- <ion-split-pane [enabled]="shouldShow()" when="xl"> -->

  <ion-menu id="loggedInMenu" [content]="content" *ngIf="userProfile">

    <ion-header>
      <ion-toolbar>
        <ion-item *ngIf="userProfile" no-lines class="user">
          <ion-avatar item-left>
            <img [src]="userProfile.photoURL">
          </ion-avatar>
          <h2>{{ userProfile.displayName }}</h2>
          <h3>{{ userProfile.email }}</h3>
          <button ion-button clear item-end icon-only (click)="openPage('ProdMetricsPage')">
              <ion-icon name="home"></ion-icon>
            </button>
          <button ion-button clear item-end icon-only (click)="splitShow.showChange()" *ngIf="!splitShow.showMenuToggle()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-item>
      </ion-toolbar>

    </ion-header>

    <ion-content class="outer-content">

      <ion-list *ngIf="permission('fabrica') || permission('direccion')">
        <ion-list-header>
          Mantenimiento
        </ion-list-header>
        <button ion-item menuClose (click)="platform.is('mobile')? openPage('MachineLogFormPage'): openPage('MachineLogPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Registro
        </button>
      </ion-list>

      <ion-list *ngIf="permission('fabrica') || permission('direccion')">
        <ion-list-header>
          Compras
        </ion-list-header>
        <button ion-item menuClose (click)="platform.is('mobile')? openPage('SparePartsFormPage'): openPage('SparePartsPage')">
          <ion-icon item-start name="cart"></ion-icon>
          Compras
        </button>
      </ion-list>

      <ion-list *ngIf="permission('fabrica') || permission('adm') || permission('direccion')">
        <ion-list-header>
          Produccion
        </ion-list-header>
        <button ion-item menuClose (click)="openPage('PartesFormPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Carga
        </button>
        <button ion-item menuClose (click)="openPage('ProdLogPage')" *ngIf="platform.is('core')">
          <ion-icon item-start name="list-box"></ion-icon>
          Registros
        </button>
        <button ion-item menuClose (click)="openPage('ProdSuppliesPage')">
          <ion-icon item-start name="hammer"></ion-icon>
          Insumos
        </button>
        <button ion-item menuClose (click)="openPage('ProdProgramPage')" *ngIf="platform.is('core')">
          <ion-icon item-start name="calendar"></ion-icon>
          Programa produccion
        </button>
        <button ion-item menuClose (click)="openPage('ScProgramPage')" *ngIf="platform.is('core')">
            <ion-icon item-start name="calendar"></ion-icon>
            Programa entregas
          </button>
        <button ion-item menuClose (click)="openPage('DiaryProdPage')" *ngIf="platform.is('core')">
          <ion-icon item-start name="grid"></ion-icon>
          Produccion diaria
        </button>
      </ion-list>

      <ion-list *ngIf="permission('ventas') || permission('direccion')">
        <ion-list-header>
          CRM
        </ion-list-header>
        <button ion-item menuClose (click)="openPage('CrmDashboardPage')">
          <ion-icon item-start name="podium"></ion-icon>
          Registro Actividades
        </button>
        <button ion-item menuClose (click)="openPage('CrmPricesPage')">
          <ion-icon item-start name="logo-usd"></ion-icon>
          Precios + Stock
        </button>
        <button ion-item menuClose (click)="openPage('CrmClientsPage')">
          <ion-icon item-start name="people"></ion-icon>
          Clientes
        </button>
        <button ion-item menuClose (click)="openPage('CrmOpPage')">
          <ion-icon item-start name="bulb"></ion-icon>
          Oportunidades
        </button>
        <button ion-item menuClose (click)="openPage('CrmNewPspPage')">
          <ion-icon item-start name="add"></ion-icon>
          PSP Nuevos
        </button>
      </ion-list>

      <ion-list *ngIf="permission('direccion')">
        <ion-list-header>
          Finanzas
        </ion-list-header>
        <button 
        *ngIf="permission('owner')" 
        ion-item menuClose (click)="openPage('AvionListPage')">
          <ion-icon item-start name="plane"></ion-icon>
          Avion
        </button>
        <button 
        *ngIf="!permission('owner')"  
        ion-item menuClose (click)="openPage('AvionFormPage')">
          <ion-icon item-start name="plane"></ion-icon>
          Avion
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Usuario
        </ion-list-header>
        <button ion-item menuClose (click)="logOut()">
          <ion-icon item-start name="log-out"></ion-icon>
          Salir
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

	<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>
