<ion-split-pane>

  <ion-menu id="loggedInMenu" [content]="content" *ngIf="userProfile">

    <ion-header>
      <ion-toolbar>
        <ion-item *ngIf="userProfile" no-lines class="user">
          <ion-avatar item-left>
            <img [src]="userProfile.photoURL">
          </ion-avatar>
          <h2>{{ userProfile.displayName }}</h2>
          <h3>{{ userProfile.email }}</h3>
        </ion-item>
      </ion-toolbar>

    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Mantenimiento
        </ion-list-header>
        <button ion-item menuClose (click)="openPage('SparePartsPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Pedido repuestos
        </button>
        <button ion-item menuClose (click)="openPage('MachineLogPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Arreglos
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Produccion
        </ion-list-header>
        <button ion-item menuClose (click)="openPage('SparePartsFormPage')">
          <ion-icon item-start name="list-box"></ion-icon>
          Carga partes
        </button>
        <button ion-item menuClose>
          <ion-icon item-start name="list-box"></ion-icon>
          Producto en proceso
        </button>
        <button ion-item menuClose>
          <ion-icon item-start name="stats"></ion-icon>
          Metricas
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Ventas
        </ion-list-header>
        <button ion-item menuClose>
          <ion-icon item-start name="stats"></ion-icon>
          Metricas
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Usuario
        </ion-list-header>
        <button ion-item menuClose (click)="logOut()">
          <ion-icon item-start name="log-out"></ion-icon>
          Salir
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

	<ion-nav [root]="rootPage" #content swipeBackEnabled="false" main></ion-nav>

</ion-split-pane>

