<ion-header>

	<ion-navbar>
	  <ion-buttons left>
	  	<split-ctrl></split-ctrl>
	  </ion-buttons>
    <ion-searchbar [(ngModel)]="searchInput" (ngModelChange)="onChange($event)"></ion-searchbar>
    <ion-buttons end>
	    <button ion-button icon-only (click)="pushPrint()">
	      <ion-icon name="print"></ion-icon>
	    </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
		<ion-grid>
		  <ion-row text-center>
				<ion-col>
					<strong>Fecha</strong>
				</ion-col>
				<ion-col col-2>
					<strong>Maquina</strong>
				</ion-col>
				<ion-col col-2>
					<strong>Articulo</strong>
				</ion-col>
				<ion-col>
					<strong>N° Op</strong>
				</ion-col>
				<ion-col col-2>
					<strong>Inicio - Fin</strong>
				</ion-col>
				<ion-col>
					<strong>Prod</strong>
				</ion-col>
				<ion-col>
					<strong>Seg</strong>
				</ion-col>
				<ion-col>
					<strong>Rotos</strong>
				</ion-col>
				<ion-col>
					<strong>Repaso</strong>
				</ion-col>
				<ion-col col-2>
				</ion-col>
			</ion-row>
	  </ion-grid>
	</ion-toolbar>

</ion-header>

<ion-content>

	<ion-grid>
	  <ion-row class="data" *ngFor="let log of prodLogs">
			<ion-col>
				{{ log.payload.val().date | momentFormat:'D/M/YY'}}
			</ion-col>
			<ion-col col-2>
				{{ log.payload.val().machine }}
			</ion-col>
			<ion-col col-2>
				{{ log.payload.val().drawing }} {{ log.payload.val().color }} {{ log.payload.val().dim }}
			</ion-col>
			<ion-col text-center>
				{{ log.payload.val().mod }}
			</ion-col>
			<ion-col col-2 text-center> 
				{{ log.payload.val().start }} a {{ log.payload.val().end }}
			</ion-col>
			<ion-col text-center>
				{{ log.payload.val().prod }}
			</ion-col>
			<ion-col text-center>
				{{ log.payload.val().seg }}
			</ion-col>
			<ion-col text-center>
				{{ log.payload.val().broken }}
			</ion-col>
			<ion-col text-center>
				{{ log.payload.val().rep }}
			</ion-col>
			<ion-col col-2 text-center>
				<button ion-button icon-only clear color="dark" small (click)="editLog(log.payload.val(), log.key)">
					<ion-icon name="create"></ion-icon>
				</button>
				<button ion-button icon-only clear color="dark" small (click)="deleteLog(log)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
  </ion-grid>

</ion-content>

<!-- <ion-content>

	<ion-grid>
	  <ion-row class="data" *ngFor="let log of prodLogs">
			<ion-col>
				{{ log.date | momentFormat:'D/M/YY'}}
			</ion-col>
			<ion-col col-2>
				{{ log.machine }}
			</ion-col>
			<ion-col col-2>
				{{ log.drawing }} {{ log.color }} {{ log.dim }}
			</ion-col>
			<ion-col text-center>
				{{ log.mod }}
			</ion-col>
			<ion-col col-2 text-center> 
				{{ log.start }} a {{ log.end }}
			</ion-col>
			<ion-col text-center>
				{{ log.prod }}
			</ion-col>
			<ion-col text-center>
				{{ log.seg }}
			</ion-col>
			<ion-col text-center>
				{{ log.broken }}
			</ion-col>
			<ion-col text-center>
				{{ log.rep }}
			</ion-col>
			<ion-col col-2 text-center>
				<button ion-button icon-only clear color="dark" small (click)="editLog(log)">
					<ion-icon name="create"></ion-icon>
				</button>
				<button ion-button icon-only clear color="dark" small (click)="deleteLog(log)">
					<ion-icon name="trash"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
  </ion-grid>

</ion-content> -->
