<ion-header>

  <ion-navbar>
    <ion-title>{{ clientObj?.name }}</ion-title>
    <ion-buttons end>
	    <button ion-button (click)="viewCtrl.dismiss()">
	      Salir
	    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<form [formGroup]="clientForm" class="inputForm" (ngSubmit)="submit()">
		<ion-row align-items-center>
			<ion-col>
				<ion-row>
					<ion-col>
						<ion-input #name [ngClass]="{label: name.value === ''}" formControlName="name" placeholder="Nombre" type="text" class="input inputText"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input #tel [ngClass]="{label: tel.value === ''}" formControlName="tel" placeholder="telefono" type="text" class="input inputText"></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-input #mail [ngClass]="{label: mail.value === ''}" formControlName="mail" placeholder="e-mail" type="email" class="input inputText"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input #pos [ngClass]="{label: pos.value === ''}" formControlName="pos" placeholder="posicion" type="text" class="input inputText"></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-input #obs [ngClass]="{label: obs.value === ''}" formControlName="obs" placeholder="observacion" type="text" class="input inputText"></ion-input>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col col-auto no-padding>
				<button ion-button icon-only clear small  color="ionBlue" type="submit" [disabled]="!clientForm.valid">
					<ion-icon *ngIf="editForm" name="create"></ion-icon>
					<ion-icon *ngIf="!editForm" name="add"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-auto *ngIf="editForm" no-padding>
				<button ion-button icon-only clear small  color="ionBlue" type="button"
				(click)="switchToNew()" >
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</form>

	<ion-card>
	
	  <ion-card-header>
	    Card Header
	  </ion-card-header>
	
	  <ion-card-content>
	    <!-- Add card content here! -->
	  </ion-card-content>
	
	</ion-card>

</ion-content>
