<ion-header>

  <ion-navbar>
		<ion-title *ngIf="clientName">
			<input class="clientName" #clientNameEl type="text" size="{{ clientName.length || 1 }}" 
			(blur)="editName(clientNameEl.value)" 
			[(ngModel)]="clientName">
		</ion-title>
    <ion-buttons end>
	    <button ion-button (click)="viewCtrl.dismiss()">
	      Salir
			</button>
    </ion-buttons>
	</ion-navbar>
	
	<ion-toolbar no-padding>
    <label margin-horizontal>Vendedor</label>
    <select margin-horizontal class="select" name="" [(ngModel)]="salesRep" (ngModelChange)="change('salesRep', salesRep)">
      <option disabled value=""></option>
      <option *ngFor="let salesRepOp of salesReps"
      value="{{ salesRepOp === 'Tarruella Alberto Horacio'? 'Tarruella Alberto Horacio ': salesRepOp }}">
        {{ salesRepOp }}
      </option>
		</select>

		<label margin-horizontal>Tipo</label>
    <select margin-horizontal class="select" name="" [(ngModel)]="clientType" (ngModelChange)="change('clientType', clientType)">
      <option value=""></option>
      <option *ngFor="let clientTypeOp of clientTypes">{{clientTypeOp}}</option>
    </select>
	</ion-toolbar>

</ion-header>


<ion-content padding>

	<form [formGroup]="clientForm" class="inputForm" (ngSubmit)="submit()">
		<ion-row align-items-center>
			<ion-col>
				<ion-row>
					<ion-col>
						<ion-input #name [ngClass]="{label: name.value === ''}" formControlName="name" placeholder="Nombre" type="text" class="input inputText"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input #tel [ngClass]="{label: tel.value === ''}" formControlName="tel" placeholder="telefono" type="text" class="input inputText"></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-input #mail [ngClass]="{label: mail.value === ''}" formControlName="mail" placeholder="e-mail" type="email" class="input inputText"></ion-input>
					</ion-col>
					<ion-col>
						<ion-input #pos [ngClass]="{label: pos.value === ''}" formControlName="pos" placeholder="posicion" type="text" class="input inputText"></ion-input>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<ion-input #obs [ngClass]="{label: obs.value === ''}" formControlName="obs" placeholder="observacion" type="text" class="input inputText"></ion-input>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col col-auto no-padding>
				<button ion-button icon-only clear small  color="ionBlue" type="submit" [disabled]="!clientForm.valid">
					<ion-icon *ngIf="editForm" name="create"></ion-icon>
					<ion-icon *ngIf="!editForm" name="add"></ion-icon>
				</button>
			</ion-col>
			<ion-col col-auto *ngIf="editForm" no-padding>
				<button ion-button icon-only clear small  color="ionBlue" type="button"
				(click)="switchToNew()" >
					<ion-icon name="add"></ion-icon>
				</button>
			</ion-col>
		</ion-row>
	</form>
	
	<div *ngIf="clientObj?.contacts">
		<ion-card *ngFor="let contact of clientObj.contacts | objNgfor" >
	
			<ion-card-header>
				<ion-row no-padding>
					<ion-col>
						<span>{{ contactObj[contact]?.name }}</span>
						<span *ngIf="contactObj[contact]?.pos" > - {{ contactObj[contact]?.pos }}</span>
					</ion-col>
					<ion-col col-auto>
						<button end ion-button icon-only clear color="lightGreyQ" small 
						(click)="switchEditContact(contactObj[contact], contact)" class="actionButtons">
							<ion-icon name="create"></ion-icon>
						</button>
						<button end ion-button icon-only clear color="lightGreyQ" small 
						(click)="deleteContact(contact)" class="actionButtons">
							<ion-icon name="trash"></ion-icon>
						</button>
					</ion-col>
				</ion-row>
				
				
			</ion-card-header>
		
			<ion-card-content>
				<div>{{ contactObj[contact]?.tel}}</div>
				<div>{{ contactObj[contact]?.mail}}</div>
				<div>{{contactObj[contact]?.obs }}</div>
			</ion-card-content>
		
		</ion-card>
	</div>

</ion-content>
