<ion-header>

  <ion-navbar>
    <ion-title>Insumos de produccion</ion-title>
    <ion-buttons left>
      <split-ctrl></split-ctrl>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <form [formGroup]="sForm" (ngSubmit)="onSubmit()">
      <ion-list>

          <!-- cabecera: fecha y maquina -->

          <ion-item *ngIf="platform.is('mobile')">
            <ion-label fixed>Fecha</ion-label>
            <ion-datetime #dateInput formControlName="date" displayFormat="MM/DD/YYYY"></ion-datetime>
          </ion-item>
  
          <ion-item *ngIf="!platform.is('mobile')">
            <ion-label fixed>Fecha</ion-label>
            <ion-input #dateInput formControlName="date" type="date"></ion-input>
          </ion-item>

          <ion-item *ngIf="platform.is('mobile')">
            <ion-label>Maquina</ion-label>
            <ion-select #machInput formControlName="machine">
              <ion-option *ngFor="let maquina of staticData.maquinasSupplies | sort:'':true">{{maquina}}</ion-option>
            </ion-select>
          </ion-item>
  
          <ion-item *ngIf="!platform.is('mobile')">
            <ion-label class="labelSelect">Maquina</ion-label>				
            <select #machInput item-content formControlName="machine" class="selectInput">
              <option value="" disabled selected></option>
              <option *ngFor="let maquina of staticData.maquinasSupplies | sort:'':true">{{maquina}}</option>
            </select>
          </ion-item>

          <!-- breton o lineal -->
          <div *ngIf="sForm.value.machine === 'Breton' || sForm.value.machine === 'Lineal'" >

            <ion-item *ngIf="platform.is('mobile')">
              <ion-label>Cabezal</ion-label>
              <ion-select #cabInput formControlName="cab">
                <ion-option *ngFor="let cabezal of staticData.cabezales['sForm.value.machine']">
                  {{cabezal}}
                </ion-option>
              </ion-select>
            </ion-item>
    
            <ion-item *ngIf="!platform.is('mobile')">
              <ion-label class="labelSelect">Cabezal</ion-label>				
              <select #cabInput item-content formControlName="cab" class="selectInput">
                <option value="" disabled selected></option>
                <option *ngFor="let cabezal of staticData.cabezales[sForm.value.machine]">
                  {{cabezal}}
                </option>
              </select>
            </ion-item>
  
            <ion-item *ngIf="platform.is('mobile') && sForm.value.machine === 'Breton'">
              <ion-label>Abrasivo</ion-label>
              <ion-select formControlName="brick">
                <ion-option *ngFor="let abrasivo of staticData.abrasivos">
                  {{abrasivo}}
                </ion-option>
              </ion-select>
            </ion-item>
    
            <ion-item *ngIf="!platform.is('mobile')">
              <ion-label class="labelSelect">Abrasivo</ion-label>				
              <select item-content formControlName="brick" class="selectInput">
                <option value="" disabled selected></option>
                <option *ngFor="let abrasivo of staticData.abrasivos">
                  {{abrasivo}}
                </option>
              </select>
            </ion-item>

          </div>

          <!-- cortadoras y biseladoras -->

          <div *ngIf="sForm.value.machine === 'Desbañadora' || sForm.value.machine === 'Biseladora zocalos' || sForm.value.machine === 'Biseladora' || sForm.value.machine === 'Cortadora'">

            <ion-item *ngIf="platform.is('mobile')">
              <ion-label>Cabezal</ion-label>
              <ion-select #cabInput formControlName="cab">
                <ion-option *ngFor="let cabezal of staticData.cabezales['sForm.value.machine']">
                  {{cabezal}}
                </ion-option>
              </ion-select>
            </ion-item>
    
            <ion-item *ngIf="!platform.is('mobile')">
              <ion-label class="labelSelect">Cabezal</ion-label>				
              <select #cabInput item-content formControlName="cab" class="selectInput">
                <option value="" disabled selected></option>
                <option *ngFor="let cabezal of staticData.cabezales[sForm.value.machine]">
                  {{cabezal}}
                </option>
              </select>
            </ion-item>

          </div>

          <ion-item>
            <ion-label fixed>Observacion</ion-label>
            <ion-textarea formControlName="obs" fz-elastic></ion-textarea>
          </ion-item>
          
      </ion-list>

      <button margin-left ion-button outline  type="submit" [disabled]="!sForm.valid">
          Enviar
      </button>
      <button margin-left ion-button outline color="warning" type="button" (click)="clear()" >
          Limpiar
      </button>


    </form>
  </ion-grid>

</ion-content>
