<ion-header>

  <ion-navbar>
    <ion-title>Seleccionar Obra</ion-title>
    <ion-buttons end>
      <button ion-button (click)="viewCtrl.dismiss()">
        Salir
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchInput" (ngModelChange)="filter($event)"></ion-searchbar>
    <ion-buttons end *ngIf="searchInput !== ''" >
      <button ion-button color="ionBlue" small icon-end (click)="newOp()">
        Nuevo <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

	<ion-list>
    <ion-item *ngFor="let op of filteredOps | sort:'obra':true:true">
      {{ op.payload.val().obra }} - {{ op.payload.val().client }}
      <button ion-button clear icon-only item-end color="lightGreyQ" (click)="selectOp(op.payload.val(), op.key )">
        <ion-icon name="checkmark-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

</ion-content>
