
<ion-header>

  <ion-navbar>
  	<button ion-button menuToggle *ngIf="platform.is('mobile')">
	    <ion-icon name="menu"></ion-icon>
	  </button>
    <ion-title>{{submitType === 'new' ? 'Nuevo repuesto' : 'Editar repuesto '}}</ion-title>
    <ion-buttons end *ngIf="!platform.is('mobile')">
	    <button ion-button (click)="viewCtrl.dismiss()">
	      Salir
	    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid fixed #form>
	  <form [formGroup]="spareForm" (ngSubmit)="onSubmit()">
				<ion-list>
					
					<ion-item *ngIf="platform.is('mobile')">
					  <ion-label>Tipo</ion-label>
					  <ion-select formControlName="tipo" interface="popover">
					    <ion-option *ngFor="let item of staticData.items | sort:'':true">{{item}}</ion-option>
					  </ion-select>
					</ion-item>

					<ion-item *ngIf="!platform.is('mobile')">
							<ion-label class="labelMachineSelect">Tipo</ion-label>					
							<select item-content formControlName="tipo" class="selectMachine">
						    <option *ngFor="let item of staticData.items | sort:'':true">{{item}}</option>
						  </select>
					</ion-item>

					<ion-item *ngIf="platform.is('mobile')">
					  <ion-label>Destino</ion-label>
					  <ion-select formControlName="destino" interface="popover">
					    <ion-option *ngFor="let maquina of staticData.maquinas | sort:'':true">{{maquina}}</ion-option>
					  </ion-select>
					</ion-item>

					<ion-item *ngIf="!platform.is('mobile')">
							<ion-label class="labelMachineSelect">Destino</ion-label>					
							<select item-content formControlName="destino" class="selectMachine">
						    <option *ngFor="let maquina of staticData.maquinas | sort:'':true">{{maquina}}</option>
						  </select>
					</ion-item>

				  <ion-item>
				    <ion-label fixed>Descripcion</ion-label>
				    <ion-textarea formControlName="detalle" fz-elastic></ion-textarea>
				  </ion-item>

				  <ion-item>
				    <ion-label fixed>Cantidad</ion-label>
				    <ion-input formControlName="cantidad" type="number"></ion-input>
				  </ion-item>

				  <ion-item *ngIf="platform.is('mobile')">
					  <ion-label >Unidad</ion-label>
					  <ion-select formControlName="unidad" interface="popover">
					    <ion-option *ngFor="let unidad of staticData.unidades | sort:'':true">{{unidad}}</ion-option>
					  </ion-select>				
				  </ion-item>

				  <ion-item *ngIf="!platform.is('mobile')">
					  <ion-label class="labelMachineSelect">Unidad</ion-label>
						<select item-content formControlName="unidad" class="selectMachine">
						    <option *ngFor="let unidad of staticData.unidades | sort:'':true">{{unidad}}</option>
					  </select>
				  </ion-item>

					<ion-item>
				    <ion-label fixed>Proveedor</ion-label>
				    <ion-input formControlName="proveedor" type="text"></ion-input>
				  </ion-item>

				  <ion-item *ngIf="submitType === 'edit'">
				    <ion-label fixed>Observacion</ion-label>
				    <ion-textarea formControlName="observacion" fz-elastic></ion-textarea>
				  </ion-item>

				  <ion-item>
					  <ion-label>Muestra</ion-label>
					  <ion-checkbox formControlName="muestra"></ion-checkbox>
					</ion-item>

				</ion-list>

				<button ion-button outline  type="submit" [disabled]="!spareForm.valid">
			    {{submitType === 'new' ? 'Agregar' : 'Actualizar '}}
			  </button>

			  <button ion-button outline (click)="toNew()" *ngIf="submitType !== 'new'">
			    Nuevo
			  </button>
		  </form>
  </ion-grid>

</ion-content>
