
<ion-header>

  <ion-navbar>
    <ion-title>{{submitType === 'new' ? 'Nuevo repuesto' : 'Editar Repuesto '}}</ion-title>
    <ion-buttons end>
	    <button ion-button (click)="viewCtrl.dismiss()">
	      Salir
	    </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid fixed #form class="gridForm">
	  <form [formGroup]="spareForm" (ngSubmit)="onSubmit()">
				<ion-list>
					
					<ion-item *ngIf="platform.is('mobile')">
					  <ion-label>Tipo</ion-label>
					  <ion-select formControlName="tipo" interface="popover">
					    <ion-option *ngFor="let item of staticData.items">{{item}}</ion-option>
					  </ion-select>
					</ion-item>

					<ion-item *ngIf="!platform.is('mobile')">
							<ion-label class="labelMachineSelect">Tipo</ion-label>					
							<select item-content formControlName="tipo" class="selectMachine">
						    <option *ngFor="let item of staticData.items">{{item}}</option>
						  </select>
					</ion-item>

					<ion-item *ngIf="platform.is('mobile')">
					  <ion-label>Destino</ion-label>
					  <ion-select formControlName="destino" interface="popover">
					    <ion-option *ngFor="let maquina of staticData.maquinas">{{maquina}}</ion-option>
					  </ion-select>
					</ion-item>

					<ion-item *ngIf="!platform.is('mobile')">
							<ion-label class="labelMachineSelect">Destino</ion-label>					
							<select item-content formControlName="destino" class="selectMachine">
						    <option *ngFor="let maquina of staticData.maquinas">{{maquina}}</option>
						  </select>
					</ion-item>

				  <ion-item>
				    <ion-label>Descripcion</ion-label>
				    <ion-textarea formControlName="detalle" fz-elastic></ion-textarea>
				  </ion-item>

				  <ion-item>
				    <ion-label>Cantidad</ion-label>
				    <ion-input formControlName="cantidad" type="number"></ion-input>
				  </ion-item>

				  <ion-item *ngIf="platform.is('mobile')">
					  <ion-label >Unidad</ion-label>
					  <ion-select formControlName="unidad" interface="popover">
					    <ion-option *ngFor="let unidad of staticData.unidades">{{unidad}}</ion-option>
					  </ion-select>				
				  </ion-item>

				  <ion-item *ngIf="!platform.is('mobile')">
					  <ion-label class="labelMachineSelect">Unidad</ion-label>
						<select item-content formControlName="unidad" class="selectMachine">
						    <option *ngFor="let unidad of staticData.unidades">{{unidad}}</option>
					  </select>
				  </ion-item>

				  <ion-item>
					  <ion-label>Muestra</ion-label>
					  <ion-checkbox formControlName="muestra"></ion-checkbox>
					</ion-item>

				</ion-list>

				<button ion-button outline  type="submit" [disabled]="!spareForm.valid">
			    {{submitType === 'new' ? 'Agregar' : 'Actualizar '}}
			  </button>

			  <button ion-button outline (click)="toNew()" *ngIf="submitType !== 'new'">
			    Nuevo
			  </button>
		  </form>
  </ion-grid>

</ion-content>
